dados_brutos_sgs/
dados_brutos_scrdata/
scrdata/resultados/
estatisticas_credito/resultados/
execucao.log
estatisticas_credito/codigos_series_bacen.csv
# --- Dados Contábeis (IFData) ---
ifdata/dados_ifdata_brutos/
ifdata/*.csv